<div class="site-header-cc">
  <div class="header-bg-container">
    <div class="cc-info-container">
      <h1 class="cc-info-title">Closed Captioning</h1>
      <div class="cc-info-elements">
        <div class="cc-icon-container">
          <img src="./assets/icons/user-typing.png", class="cc-info-icon user">
          <img src="./assets/icons/keyboard.png", class="cc-info-icon keyboard">
          <img src="./assets/icons/caption.png", class="cc-info-icon caption">
        </div>
        <div class="cc-info-text-container cc">
          <p class="cc-info-text 1">
            Closed captioning is the transcription of both spoken word, as well as the written description of music, sound effects, and other audio cues that are necessary to enjoy a piece of media.
          </p>
          <p class="cc-info-text 2">
            With this service, film, television, promos, and advertisements can be provided to a more inclusive audience, specifically those who are deaf or hard of hearing. When you see white text on black bars, this is closed captioning.
          </p>
          <p class="cc-info-text 3">
            Under the regulations of the CRTC, 100% of broadcasted programs during the day, including advertising, sponsorship messages, and promotional content, must be captioned.
          </p>
        </div>
      </div>
      <div class="subs-info-container">
        <h1 class="subs-info-title"> Subtitles</h1>
        <div class="subs-info-elements">
          <div class="subs-icon-container">
            <img src="./assets/icons/translation.png", class="subs-info-icon translation">
            <img src="./assets/icons/audience.png", class="subs-info-icon audience">
            <img src="./assets/icons/subtitle-filled.png", class="cc-info-icon sub">
          </div>
          <div class="subs-info-text-container">
            <p class="subs-info-text 1">
              Subtitling is the translation of an original script from a piece of media into a secondary language. This is done in order to provide greater accessibility to other language groups, and wider exposure for the media in question.
            </p>
            <p class="subs-info-text 2">
              Unlike closed captioning, sound effects and music are not included in this text. Often, to bring some clarity in hard-to-hear situations, same-language subtitling is provided, too.
            </p>
            <p class="subs-info-text 3">
              Subtitles are also more compatible with HDMI reliant setups than closed captioning, as well as other modern technologies and formats.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="standards-container">
      <div class="standards-elements">
        <div class="standards-info industry">
          <h2 class="standards-title">Industry Standards</h2>
          <img src="./assets/icons/antenna.png", class="standards-icon antenna">
          <p class="standards-text">
            Onextra provides closed captioning in both Pop On and Roll-Up styles for Canada's largest broadcasters, content producers and distributors.
            EIA-608 or CEA-708 standards and Web captioning exports are available.
            Our services are ideal for:
            Broadcasters, Television Content Producers, Distributors and Web Producers.
          </p>
        </div>
        <div class="standards-info english/french">
          <h2 class="standards-title">Bilingual Services</h2>
          <img src="./assets/icons/bilingual_1.png", class="standards-icon bilingual">
          <p class="standards-text">
            We offer closed captioning in both English and French languages.
            You'll be able to expand your reach to a wider audience in both official languages.
          </p>
        </div>
        <div class="standards-info subtitling">
          <h2 class="standards-title">Subtitling</h2>
          <img src="./assets/icons/subs.png", class="standards-icon subs">
          <p class="standards-text">
            Subtitles offer several valuable benefits.
            Whereas closed captioning will not pass through an HDMI cable, subtitles are ideal for use with modern technologies and formats.
            Subtitling is available in English, French, Spanish and other languages.
            It is a go-to choice for most web based content as well.
            3D subtitles are available for side-by-side and for stereoscopic 3D content.
          </p>
        </div>
        <div class="standards-info dig-media">
          <h2 class="standards-title">Digital Media</h2>
          <img src="./assets/icons/digital_media.png", class="standards-icon dig-media">
          <p class="standards-text">
            With more than 30 years of combined experience in digital media, we make sure your closed captions or subtitles work perfectly on all platforms.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
