<div class="cc-info-container-v2">
  <h1 class="cc-info-title-v2">Closed Captioning | Subtitles</h1>
  <div class="cc-info-elements-v2">
    <div class="cc-icon-container-v2">
      <img src="./assets/icons/user-typing.png", class="cc-info-icon user">
      <img src="./assets/icons/keyboard.png", class="cc-info-icon keyboard">
    </div>
    <div class="cc-info-text-container-v2">
      <p class="cc-info-text-v2 1">
        Closed captioning is the transcription of both spoken word, as well as the written description of music, sound effects, and other audio cues that are necessary to enjoy a piece of media.
      </p>
      <p class="cc-info-text-v2 2">
        With this service, film, television, promos, and advertisements can be provided to a more inclusive audience, specifically those who are deaf or hard of hearing. When you see white text on black bars, this is closed captioning.
      </p>
      <p class="cc-info-text-v2 3">
        Under the regulations of the CRTC, 100% of broadcasted programs during the day, including advertising, sponsorship messages, and promotional content, must be captioned.
      </p>
    </div>
  </div>
</div>
