<div class="site-header-real_cap">
  <div class="real_cap-info-container">
    <h1 class="real_cap-info-title"> Real-Time Captioning</h1>

    <p class="real_cap-info-text">
      Make your broadcast compliant to regulatory requirements, Real-Time captioning services by Onextra Inc.
      Based in Toronto, Ontario, we offer live captioning services throughout Canada to broadcasters and live events.
    </p>
  </div>

  <div class="real_cap-standards-container">
    <div class="real_cap-standards-elements">
      <div class="real_cap-standards-info accuracy">
        <h2 class="real_cap-standards-title">High Accuracy</h2>
        <img src="./assets/icons/broadcast-2.png" class="real_cap-icon broadcast">
        <p class="real_cap-standards-text">
          Our accuracy rate is one of the best in the industry. We work with the best talents in the business, while keeping our prices competitive. Contracts and emergency fill-in rates are available.
        </p>
      </div>
      <div class="real_cap-standards-info live">
        <h2 class="real_cap-standards-title">Live Shows</h2>
        <img src="./assets/icons/announcer.png" class="real_cap-icon announcer">
        <img src="./assets/icons/microphone-2.png" class="real_cap-icon microphone">
        <p class="real_cap-standards-text">
          Reach new audiences from coast to coast by providing closed captions for any broadcast. We specialize in news, sporting events, and live reality shows.
        </p>
      </div>
    </div>
  </div>

</div>
