<div class="site-header-dv">
  <div class="dv-info-container">
    <h1 class="dv-info-title">Engaging Descriptive Video</h1>

    <p class="dv-info-text">
      Reach wider audiences by incorporating Descriptive Video (DV) into your production.
      Onextra in Toronto, Ontario, offers this service for recorded television shows, feature films for broadcast or for distribution, and Live DV services for live events.
    </p>
  </div>

  <div class="dv-standards-container">
    <div class="dv-standards-elements">
      <div class="dv-standards-info dv">
        <h2 class="dv-standards-title">Descriptive Video</h2>
        <img src="./assets/icons/audio_waves.png" class="dv-icon dv">
        <p class="dv-standards-text">
          Our DV production team creates quality descriptive soundtracks for current television shows, feature films, documentaries and children's shows for major broadcasters and content producers coast-to-coast. Onextra is actively participating in Best Practices Working Group to continually improve and share experience with our industry.
        </p>
      </div>
      <div class="dv-standards-info lv">
        <h2 class="dv-standards-title">Live Description</h2>
        <img src="./assets/icons/audio_speech.png" class="dv-icon lv">
        <p class="dv-standards-text">
          Live Descriptive video services helps people with visual impairments to get the most out of live television broadcasts, such as award shows or The PGA Tour. This new service is currently provided by only few companies, and with more than two years of experience, Onextra is at the forefront of Live DV.
        </p>
      </div>
      <div class="dv-standards-info voice">
        <h2 class="dv-standards-title">Top Voice Talents</h2>
        <img src="./assets/icons/microphone.png" class="dv-icon voice">
        <p class="dv-standards-text">
          By recruiting top voice talents, we ensure your show is highly engaging for people with visual impairments. This is especially important for live broadcasts, which have the potential to attract larger audiences. Through careful research, we hire professional on-air announcers who are specifically chosen to suit your program. Male and female voice talents are available.
        </p>
      </div>
      <div class="dv-standards-info practice">
        <h2 class="dv-standards-title">Best Practices</h2>
        <img src="./assets/icons/sound_on.png" class="dv-icon sound">
        <img src="./assets/icons/audio_mixer.png" class="dv-icon mixer">
        <p class="dv-standards-text">
          As a member of the Described Video Best Practices Working Group, we are at the forefront of the industry. Our professional writers and voice talents describe the most popular TV shows on the air today. Find out why top names in the industry trust us to provide their accessibility services.
        </p>
      </div>
    </div>
  </div>
</div>
