<div class="site-header-home">
  <div class="onextra-container">
    <div class="onextra-items">
      <a href="/" class="logo">
        <img src="./assets/Onextra_2016  FX with logo 2000dpi.png" class="onextra-logo">
      </a>
      <span class="onextra-title">Media Accessibility Services</span>
      <span class="onextra-description">(Pending Slogan)</span>
    </div>
  </div>

  <div class="about-us-home-container">
    <div class="about-us-items">
      <div class="about-us-icons-container">
        <img src="./assets/icons/subtitles.png", class="about-logo-sub">
        <img src="./assets/icons/cc.png", class="about-logo-cc">
        <img src="./assets/icons/video.png", class="about-logo-video">
      </div>
    </div>
    <div class="about-us-text-container">
      <p class="about-us 1">
        We offer closed captioning, subtitling, and descriptive video services to help you bring your production to more people.
      </p>
      <p class="about-us 2">
        With a proven track record and extensive experience in the industry, we offer accurate, affordable services that you can rely on.
      </p>
    </div>
  </div>

  <!-- <div class="our-clients-container">
    <div class="our-clients-logos">
      <img src="./assets/icons/bell_media_alt-colour.png", class="client-logo-bell">
      <img src="./assets/icons/corus_alt-colour.png", class="client-logo-corus">
      <img src="./assets/icons/shaw_alt-colour.png", class="client-logo-shaw">
      <img src="./assets/icons/vice_alt-colour.png", class="client-logo-vice">
    </div>
  </div> -->

  <a id="contact-me-link-target"></a>
  <div class="social-media-container">
    <div class="social-media-items">
      <div class="social-media-contact-container">
        <div class="social-media-contact-items">
          <h1 class="social-media-contact-title">CONTACT US</h1>
        </div>
        <div class="form-container">
          <form id="form" class="topBefore">
            <input id="name" type="text" placeholder="Name">
            <input id="email" type="text" placeholder="Email">
            <textarea id="message" type="text" placeholder="Message"></textarea>
            <input id="submit" type="submit" value="Submit">
          </form>
        </div>
      </div>
      <div class="social-media-logo-container">
        <img src="./assets/icons/facebook.png" class="social-media-logo facebook">
        <img src="./assets/icons/google-plus.png" class="social-media-logo google">
        <img src="./assets/icons/twitter.png" class="social-media-logo twitter">
        <img src="./assets/icons/linkedin.png" class="social-media-logo linkedin">
      </div>
    </div>
  </div>

</div>
